body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#homecategories {
  display: flex;
  justify-content: space-evenly;
}

.MuiPaper-root.MuiCard-root.makeStyles-root-124.MuiPaper-outlined.MuiPaper-rounded {
  margin-top: 4rem;
  box-shadow: grey 0px -1px 7px 0px;
  height: 50vh;
  max-width: 45%;
  min-width: 2750px;
}

/* .experientinputs {
  margin-top: 2rem;
} */

h2 {
  text-align: center;
}

input.MuiInputBase-input.MuiInput-input {
  width: 12vw;
}

#experimentlogform {
  width: 70%;
  margin: 2rem auto;
}

a {
  text-decoration: none;
  color: white;
}

.mainhomecard {
  width: 35vw;
  min-height: 75vh;
  margin-top: 5vh;
  box-shadow: gray 0rem 0rem 1rem 1rem;
}

.homecardheading {
  font-size: 250%;
}

#plannercard {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/386/158/non_2x/vector-doctors-holding-dna-gene-concept-illustration.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#experimentloggingcard {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/170/822/non_2x/vector-free-linear-chemistry-icons.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}

.MuiTypography-colorTextSecondary {
  color: #e0e0e0;
}

input.MuiInputBase-input.MuiInput-input {
  width: 70vw;
}

.MuiListItemText-root {
  flex: 1 1 auto;
  min-width: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #1822a229;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-style: italic;
}

#appheaderbar {
  display: flex;
  justify-content: space-between;
}

.calenderdays {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 55vh;
  padding: 1rem;
  width: 80%;
  margin: auto;
  border: cornflowerblue solid 0.5rem;
}

.daydiv {
  width: 7vw;
  height: 7vw;
  margin: 1rem;
  text-align: center;
  font-size: x-large;
  background-color: blue;
}

.calenderDay {
  text-decoration: none;
  /* padding: 3px; */
  color: royalblue;
  font-size: x-large;
}

.daydiv > a {
  color: rgb(18, 8, 150);
}

.MuiPaper-root.MuiCard-root.daydiv.MuiPaper-elevation1.MuiPaper-rounded {
  box-shadow: grey 0rem 0rem 1rem 3px;
}

.MuiTypography-h2 {
  font-size: 3.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 900 !important;
  color: royalblue;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}

.MuiPaper-outlined {
  border: 0px solid rgba(63, 81, 181, 0.04);
}

.noteslist {
  width: 90%;
  margin: auto;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.daydiv.MuiButton-outlinedPrimary {
  margin: 1rem;
  border: royalblue solid 2px;
  font-weight: 900;
  /* box-shadow: #222275d6 0px 0px 1rem; */
}

#pg-viewer {
  max-height: 100vh;
}

p.calenderDay {
  margin-top: auto;
  font-size: initial;
}

.pdf-canvas {
  border: double;
  text-align: center;
}

/* element.style {
  width: 100vw;
  height: auto;
} */

.pg-viewer-wrapper {
  border: black solid 2px;
  height: 50vh !important;
}

.pg-viewer {
  border: black solid 2px;
  height: 50vh !important;
}

.photo-viewer-container {
  border: black solid 2px;
  height: 50vh !important;
}

.MuiInputBase-input,
.MuiInput-root {
  width: 40%;
}

p {
  font-size: initial;
  font-weight: 400;
  text-align: left;
  color: #555;
}

#prevexperimentcontainer {
  width: 80%;
  margin: auto;
}

.prevexperimentfield {
  display: flex;
  border: solid rgba(0, 0, 0, 0.075);
  border-radius: 3px;
  margin-top: 1rem;
}

.prevexperimentfield > h2 {
  color: #66afe9;
  padding: 1rem;
  width: 20%;
}
.prevexperimentfield > p {
  width: 80%;
  color: #444;
}
